<!doctype html>
<html>
<head>
<title>Passwords</title>
</head>
<body>
<table>
<tr>
<td><b>ID</b></td>
<td><b>Password name</b></td>
<td><b>Password description</b></td>
<td><b>Hostname</b></td>
<td><b>Username</b></td>
<td><b>Password</b></td>
<td colspan="2"><b>Action</b></td>
</tr>

{% for item in result.results %}
<tr>
<td><a href="/password/{{ item["id"] }}">{{ item["id"] }}</a></td>
<td>{{ item["name"] }}</td>
<td>{{ item["desc"] }}</td>
<td>{{ item["hostname"] }}</td>
<td>{{ item["username"] }}</td>
<td>xxx</td>
<td><a href="/password/edit/{{ item["id"] }}">edit</a></td>
<td><a href="/password/delete/{{ item["id"] }}">delete</a></td>
</tr>
{% endfor %}

</table>
</body>
</html>
